body, h1, h2, h3 {
    font-family: Raleway;
}

.wy-nav-content-wrap {
    background: none
}

.wy-nav-side {
    background-image: url("../images/pw_maze_pink.png");
}

.wy-menu-vertical a {
    color: black
}

.wy-menu-vertical a:hover {
    background-color: #e7cfd4
}

.wy-side-nav-search, .wy-nav-top {
    background-color: #d0d0e7;
    background-image: url("../images/pw_maze_pink.png");
}

.edgeLabel {
  background-color: #fcfcfc;
}


.section {
    opacity: 1.0 !important;
}
