#sidebar: p Generated using Lala for Python, on {{ pdf_tools.now() }}

h1(style="margin-top: 0") 30-day server logs analysis

.ui.piled.segment(style="margin-top: 0")
  :markdown
    These are statistics from the logs of the [EGF-CUBA](http://cuba.genomefoundry.org/)
    website. While the website doest not use cookies or collect personal data or files,
    the Django server logs provide interesting website usage information.

- var blacklist = ['googlebot', 'spider.yandex', 'baidu', 'msnbot']
- var weblogs = weblogs.filter_by_text_search(terms=blacklist, not_in='domain')
- var requests = weblogs.filter_by_text_search(terms=['start/'], are_in='request')


.ui.grid
  .statistics.two.wide.column
    .ui.statistic.tiny
      .value= weblogs.index.size
      .label Visits
    .ui.statistic.tiny
      .value= weblogs.IP.unique().size
      .label Unique visitors
    .ui.statistic.tiny
      .value= requests.index.size
      .label Requests
  .twelve.wide.column
    - var figure = weblogs.plot_geo_positions()
    img(src="{{ pdf_tools.figure_data(figure) }}")


h3(style='margin-top: 0') Visitors per day

- var figure = weblogs.plot_timeline(bins_per_day=1)
img(src="{{ pdf_tools.figure_data(figure, (12, 1.5)) }}")


.tables

  h3 Requests
  
  - var request_counts = requests.url.value_counts().to_frame()
  {{ pdf_tools.dataframe_to_html(request_counts, index=1, header=0) }}

  h3 Requests by country
 
  - var countries_counts = requests.country_name.value_counts().to_frame()
  {{ pdf_tools.dataframe_to_html(countries_counts, index=1, header=0) }}
  
  h3 Requests by city
 
  - var city_counts = requests.city.value_counts().to_frame()
  {{ pdf_tools.dataframe_to_html(city_counts, index=1, header=0) }}


style.
  h3 {
    margin-top: 0 !important;
  }
  img {
    max-width: 100% !important;
  }
  .ui.statistic {
    font-size: 0.7em !important;
    margin-bottom: 1.5em !important;
    display: block !important;
    margin: 0 auto;
  }
  .tables {
    column-count: 2;
    margin-top: 1em;
  }
